{% macro renderPager(pager, announcerId, orderedBy, order, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'formalibre_job_announcer_job_offers_list',
                'routeParams': {
                    'announcer': announcerId,
                    'orderedBy': orderedBy,
                    'order': order,
                    'max': max
                }
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}

{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block title %}
    {{ 'job_offers_list'|trans({}, 'job') }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'job_offers_list'|trans({}, 'job') }}
        </h3>
    </div>
    <div class="panel-body" id="announcer-job-offers-list-body">
        {% if jobOffers|length > 0 %}

            {% if jobOffers.getNbPages() > 1 %}
                {{ renderPager(jobOffers, announcer.getId(), orderedBy, order, max) }}
            {% endif %}
            <div class="table-responsive">
                <table class="table">
                    {% for jobOffer in jobOffers %}
                        {% set expirationDate = jobOffer.getExpirationDate() %}
                        <tr id="job-offer-row-{{ jobOffer.getId() }}"
                            {% if expirationDate is not empty and expirationDate|date('Y-m-d H:i:s') < 'now'|date('Y-m-d H:i:s') %}style="background-color: grey"{% endif %}
                        >
                            <td>
                                {{ jobOffer.getTitle() }}
                            </td>
                            <td>
                                {{ expirationDate|date('d/m/Y') }}
                            </td>
                            <td>
                                {{ jobOffer.getOriginalName() }}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-default"
                                       href="{{ path('formalibre_job_job_offer_edit_form', {'jobOffer': jobOffer.getId()}) }}"
                                    >
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-default"
                                       href="{{ path('formalibre_job_offer_open', {'jobOffer': jobOffer.getId()}) }}"
                                    >
                                        <i class="fa fa-download"></i>
                                    </a>
                                    <button class="btn btn-danger delete-job-offer-btn"
                                            data-job-offer-id="{{ jobOffer.getId() }}"
                                    >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            {% if jobOffers.getNbPages() > 1 %}
                {{ renderPager(jobOffers, announcer.getId(), orderedBy, order, max) }}
            {% endif %}
        {% else %}
            <div class="alert alert-warning">
                {{ 'no_job_offer'|trans({}, 'job') }}
            </div>
        {% endif %}
        <br>
        <a href="{{ path('formalibre_job_job_offer_create_form', {'announcer': announcer.getId()}) }}"
           class="btn btn-primary"
        >
            {{ 'create_job_offer'|trans({}, 'job') }}
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ url('bazinga_jstranslation_js', { 'domain': 'job' }) }}"
    >
    </script>
    <script src='{{ asset('bundles/formalibrejob/js/announcerJobOffersList.js') }}'
            type="text/javascript"
    >
    </script>
{% endblock %}    
