{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'announcers_management_menu'|trans({}, 'job'),
                'href': path('formalibre_job_announcers_management_menu')
            },
            {
                'name': 'announcers_managemnet'|trans({}, 'job'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'announcers'|trans({}, 'job') }}
        </h3>
    </div>
    <div class="panel-body" id="announcers-management-body">
        <ul id="communities-nav-tabs-list" class="nav nav-tabs margin-bottom-md">
            
            {% for community in communities %}
                <li class="{% if currentCommunity.getId() == community.getId() %}active{% endif %}">
                    <a href="{{ path('formalibre_job_admin_announcers_management', { 'community': community.getId()}) }}">
                        {{ community.getName()|trans({}, 'job') }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <br>
        
        {% if announcers|length > 0 %}
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>{{ 'name'|trans({}, 'platform') }}</th>
                        <th></th>
                    </tr>
            
                    {% for announcer in announcers %}
                        {% set user = announcer.getUser() %}
                        <tr id="announcer-row-{{ announcer.getId() }}">
                            <td>
                                {{ user.getFirstName() }}
                                {{ user.getLastName() }}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-danger delete-announcer-btn"
                                            data-announcer-id="{{ announcer.getId() }}"
                                    >
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="alert alert-warning">
                {{ 'no_announcer'|trans({}, 'job') }}
            </div>
        {% endif %}
        <br>
        <button class="btn btn-primary"
                id="create-announcer-btn"
                data-community-id="{{ currentCommunity.getId() }}"
        >
            <i class="fa fa-user-plus"></i>
            {{ 'add_announcers'|trans({}, 'job') }}
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ url('bazinga_jstranslation_js', { 'domain': 'job' }) }}"
    >
    </script>
    <script src='{{ asset('bundles/formalibrejob/js/announcersManagement.js') }}'
            type="text/javascript"
    >
    </script>
{% endblock %}
