{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block title %}
    {{ 'job_offer_edition'|trans({}, 'job') }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'job_offers_list'|trans({}, 'job'),
                'href': path('formalibre_job_announcer_job_offers_list', {'announcer': jobOffer.getAnnouncer().getId()})
            },
            {
                'name': 'job_offer_edition'|trans({}, 'job'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <form action="{{ path('formalibre_job_job_offer_edit', {'jobOffer': jobOffer.getId()}) }}" 
          method="POST"
          {{ form_enctype(form) }}
          novalidate
    >
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
            <a href="{{ path('formalibre_job_announcer_job_offers_list', {'announcer': jobOffer.getAnnouncer().getId()}) }}"
               class="btn btn-default" 
               role="button"
            >
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}
