{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block title %}
    {{ 'job_request_creation'|trans({}, 'job') }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'job_request_creation'|trans({}, 'job') }}
        </h3>
    </div>
    <form action="{{ path('formalibre_job_job_request_create') }}" 
          method="POST"
          {{ form_enctype(form) }}
          novalidate
    >
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
            <a href="{{ path('formalibre_job_seeker_job_requests_list') }}"
               class="btn btn-default" 
               role="button"
            >
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}