{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'announcers_management_menu'|trans({}, 'job'),
                'href': path('formalibre_job_announcers_management_menu')
            },
            {
                'name': 'pending_announcers_managemnet'|trans({}, 'job'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'pending_announcers'|trans({}, 'job') }}
        </h3>
    </div>
    <div class="panel-body" id="pending-announcers-management-body">
        <ul id="communities-nav-tabs-list" class="nav nav-tabs margin-bottom-md">

            {% for community in communities %}
                <li class="{% if currentCommunity.getId() == community.getId() %}active{% endif %}">
                    <a href="{{ path('formalibre_job_admin_pending_announcers_management', { 'community': community.getId()}) }}">
                        {{ community.getName() }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <br>

        {% if pendingAnnouncers|length > 0 %}
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>{{ 'name'|trans({}, 'platform') }}</th>
                        <th>{{ 'application_date'|trans({}, 'job') }}</th>
                        <th>{{ 'establishment'|trans({}, 'job') }}</th>
                        <th>{{ 'province'|trans({}, 'province') }}</th>
                        <th>{{ 'adress'|trans({}, 'job') }}</th>
                        <th>{{ 'phone'|trans({}, 'platform') }}</th>
                        <th></th>
                    </tr>

                    {% for pendingAnnouncer in pendingAnnouncers %}
                        {% set user = pendingAnnouncer.getUser() %}
                        <tr id="pending-announcer-row-{{ pendingAnnouncer.getId() }}">
                            <td>
                                {{ user.getFirstName() }}
                                {{ user.getLastName() }}
                            </td>
                            <td>{{ pendingAnnouncer.getEstablishment() }}</td>
                            <td>{{ pendingAnnouncer.getProvince().getTranslationKey()|trans({}, 'province') }}</td>
                            <td>{{ pendingAnnouncer.getAdress() }}</td>
                            <td>{{ pendingAnnouncer.getUser().getPhone() }}</td>
                            <td>
                                {{ pendingAnnouncer.getApplicationDate()|intl_date_format }}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-success accept-pending-user-btn"
                                            data-pending-announcer-id="{{ pendingAnnouncer.getId() }}"
                                    >
                                        <i class="fa fa-check"></i>
                                    </button>
                                    <button class="btn btn-danger decline-pending-user-btn"
                                            data-pending-announcer-id="{{ pendingAnnouncer.getId() }}"
                                    >
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="alert alert-warning">
                {{ 'no_pending_announcer'|trans({}, 'job') }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ url('bazinga_jstranslation_js', { 'domain': 'job' }) }}"
    >
    </script>
    <script src='{{ asset('bundles/formalibrejob/js/pendingAnnouncersManagement.js') }}'
            type="text/javascript"
    >
    </script>
{% endblock %}
