{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-3">
                {% set params = app.request.attributes.get('_route_params') %}
                {% if params.lang == 'fr' %}
                    {% set img = asset('bundles/formalibrejob/images/fwb.jpg') %}
                {% elseif params.lang == 'nl' %}
                    {% set img = asset('bundles/formalibrejob/images/vgs.jpg') %}
                {% else %}
                    {% set img = asset('bundles/formalibrejob/images/dgpp.jpg') %}
                {% endif %}
                <img width=200px src="{{ img }}">
            </div>
            {% form_theme form 'FormaLibreJobBundle::form_theme_captcha.html.twig' %}
            <div class="col-md-6" style="padding-top: 20px;">
                <form id="pending-announcer-create-form"
                      action="{{ path('formalibre_job_pending_announcer_create', {'lang': lang}) }}"
                      method="POST"
                      {{ form_enctype(form) }}
                >
                    {{ form_row(form.userType) }}
                    {{ form_row(form.establishment) }}
                    {{ form_row(form.province) }}
                    {{ form_row(form.adress) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.registrationNumber) }}
                    {{ form_row(form.faseNumber) }}
                    {{ form_row(form.mail) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.plainPassword) }}
                    <div class="col-md-9 col-md-offset-3">
                        {{ form_widget(form.withNotification) }}
                        <span class="pending-announcer-create-form-accept-chk-label" style="font-size: small;">
                            {{ 'notification_explanations'|trans({}, 'job') }}
                        </span>
                    </div>
                    </br>
                    </br>
                    {{ form_rest(form) }}
                    </br></br>
                    <div class="captcha" style="font-size: x-small;">
                        {{ 'captcha_reason'|trans({}, 'job') }}
                    </div>
                    </br>
                    <button id="submit-btn" type="submit" class="btn btn-primary disabled">
                        {{ 'ok'|trans({}, 'platform') }}
                    </button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function checkIdentity() {
            var value = $('#pending_announcer_form_userType').val();

            if (value === 'announcer') {
                $('#submit-btn').removeClass('disabled');
            } else if (value === 'seeker') {
                window.location = Routing.generate('formalibre_job_seeker_create_form', {'lang': '{{ lang}}' });
            } else {
                $('#submit-btn').addClass('disabled');
            }
        }

        $('#pending_announcer_form_userType').on('change', function () {
            checkIdentity();
        });

        checkIdentity();
    </script>
{% endblock %}
