{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                {% set params = app.request.attributes.get('_route_params') %}
                {% if params.lang == 'fr' %}
                    {% set img = asset('bundles/formalibrejob/images/fwb.jpg') %}
                {% elseif params.lang == 'nl' %}
                    {% set img = asset('bundles/formalibrejob/images/vgs.jpg') %}
                {% else %}
                    {% set img = asset('bundles/formalibrejob/images/dgpp.jpg') %}
                {% endif %}
                <div class="col-md-3"> <img width=200px src="{{ img }}"> </div>
            </div>
            <div class="row">
                <div class="col-md-3">  </div>
                <div class="col-md-9" style="color: red;"> <h1><b> {{ 'pending_announcement_form_message'|trans({}, 'job') }} </b></h1> </div>
            </div>
        </div>
        <div class="panel-body">
            <form id="pending-announcer-create-form"
                  action="{{ path('formalibre_job_pending_announcer_create', {'lang': lang}) }}"
                  method="POST"
                  {{ form_enctype(form) }}
            >
                {{ form_widget(form) }}
                <br>
                <button type="submit" class="btn btn-primary">
                    {{ 'ok'|trans({}, 'platform') }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
