{% macro renderPager(pager, orderedBy, order, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'formalibre_job_seeker_job_requests_list',
                'routeParams': {
                    'orderedBy': orderedBy,
                    'order': order,
                    'max': max
                }
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}

{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block title %}
    {{ 'my_cv'|trans({}, 'job') }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'my_cv'|trans({}, 'job') }}
        </h3>
    </div>
    <div class="panel-body" id="seeker-job-requests-list-body">
        {% if jobRequests|length > 0 %}

            {% if jobRequests.getNbPages() > 1 %}
                {{ renderPager(jobRequests, orderedBy, order, max) }}
            {% endif %}
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>{{ 'title'|trans({}, 'platform') }}</th>
                        <th>{{ 'community'|trans({}, 'job') }}</th>
                        <th>{{ 'expiration_date'|trans({}, 'job') }}</th>
                        <th>{{ 'cv'|trans({}, 'job') }}</th>
                        <th></th>
                    </tr>
                    {% for jobRequest in jobRequests %}
                        {% set expirationDate = jobRequest.getExpirationDate() %}
                        {% set user = jobRequest.getUser() %}
                        <tr id="job-request-row-{{ jobRequest.getId() }}"
                            {% if expirationDate is not empty and expirationDate|date('Y-m-d H:i:s') < 'now'|date('Y-m-d H:i:s') %}style="background-color: grey"{% endif %}
                        >
                            <td>{{ jobRequest.getTitle() }}</td>
                            <td>{{ jobRequest.getCommunity().getName() }}</td>
                            <td>{{ expirationDate|date('d/m/Y') }}</td>
                            <td>{{ jobRequest.getOriginalName() }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-default"
                                       href="{{ path('formalibre_job_job_request_edit_form', {'jobRequest': jobRequest.getId()}) }}"
                                    >
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button class="btn btn-danger delete-job-request-btn"
                                            data-job-request-id="{{ jobRequest.getId() }}"
                                    >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            {% if jobRequests.getNbPages() > 1 %}
                {{ renderPager(jobRequests, orderedBy, order, max) }}
            {% endif %}
        {% else %}
            <div class="alert alert-warning">
                {{ 'no_job_offer'|trans({}, 'job') }}
            </div>
        {% endif %}
        <br>
        <a href="{{ path('formalibre_job_job_request_create_form') }}"
           class="btn btn-primary"
        >
            {{ 'add_cv'|trans({}, 'job') }}
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ url('bazinga_jstranslation_js', { 'domain': 'job' }) }}"
    >
    </script>
    <script src='{{ asset('bundles/formalibrejob/js/seekerJobRequestsList.js') }}'
            type="text/javascript"
    >
    </script>
{% endblock %}    